*{
  scroll-behavior: smooth;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100%;
}
#home {
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5) ), url(home.jpg) no-repeat center /cover    ;


}

#home   h1 {
  text-align: center;
  font-family: times new roman;
}

.navbar-scrolled{
background-color: black;  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}
.navbar {
  transition: all 0.5s;
}




section{
    background-color: rgb(33, 37, 41);
    color: white;

}
section h1 {
  color: white;
  padding: 10px;
}

.card {
  padding: 5px;
} 
.form-control{
  margin-block: 10px;
}

p{
    text-align: justify;
  text-justify: inter-word;
}

@media (max-width: 768px){
  #home{
    min-height: 60vh;
  }
}